doctype 5
html
	head
		script(type='text/javascript', src='/jquery/js/jquery.min.js')
	body
		a(title='Home', href="/") Home | 
		a(title='GO TO PAGE 1', href="/getPage1") Page 1
		block content
		
		