extends layout

block content
	h1= title
	p Welcome to Page 1
	script(type='text/javascript', src='/javascripts/uiHelper.js')
	input.button1(type='submit', value='GET HELP CONTENT',id="help")
	div#pageInfo